@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --mian-color-2: #f5f7fa;
  --main-color: #4d4d4d;
  --main-color-3: #717171;
  --primary-color: #4caf4f;
}

nav {
  width: 80%;
  margin: 0 auto;

  padding: 20px;
}

nav,
nav .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu ul {
  gap: 18px;
}

nav .menu ul a {
  color: var(--main-color);
}

nav .menu ul li:nth-child(6) a {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 10px 22px;
}

main .hero {
  height: 400px;
  background-color: var(--mian-color-2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .hero .contant p:first-child {
  color: var(--main-color);
  font-size: 44.55px;
  font-weight: 600;
}

main .hero .contant p:first-child span {
  color: var(--primary-color);
}

main .hero .contant p:nth-child(2) {
  font-size: 11.14px;
  font-weight: 400;
  color: var(--main-color-3);
}

main .hero .contant a {
  color: #fff;
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 11.14px;
  font-weight: 500;
  margin-top: 22px;
  padding: 10px 22px;
}

main .our-clients {
  margin: 10px 0;

  text-align: center;
}

main .our-clients .clint-img {
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .our-clients p,
h2 {
  padding: 10px;
}

main .our-clients p {
  font-size: 11.14px;
  font-weight: 400;
  color: var(--main-color-3);
}

main .our-clients h2 {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 600;
}

main .membership-management {
  margin-top: 25px;
  text-align: center;

}

main .membership-management p:first-child {
  margin-top: 13px;
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color);
  padding: 10px;
}

main .membership-management p:nth-child(2) {
  font-size: 11px;
  font-weight: 400;
  color: var(--main-color-3);
  padding: 10px;
}

main .membership-management .box {

  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .membership-management .box .cotant .img-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

main .membership-management .box .cotant p:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}

main .membership-management .box .cotant p:nth-child(3) {
  font-size: 10px;
  font-weight: 400;
  color: var(--main-color-3);

}

main .experience {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .experience .img-experience {
  height: 300px;
  width: 300px;

}

main .experience .contant p:first-child {
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color);
  padding: 15px 0;
}

main .experience .contant p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
  color: var(--main-color-3);
  padding: 15px 0;
}

main .experience .contant a {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 11px;
  border-radius: 5px;
}

main .company-stats {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 60px 0;
  justify-content: space-evenly;
  background-color: var(--mian-color-2);
}

main .company-stats .stats-description h2 {
  font-weight: 600;
  color: var(--main-color);
  font-size: 30px;
  padding: 0;
}

main .company-stats .stats-description p {
  color: var(--main-color-3);
  font-weight: 400;
  font-size: 15px;
}

main .company-stats .stats-description h2 span {
  color: var(--primary-color);
}

main .company-stats .stats-data {
  width: 20%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

main .company-stats .stats-data .contant p:first-child {
  font-weight: bold;
  color: var(--main-color);
  font-size: 15px;
}

main .company-stats .stats-data .contant p:last-child {
  font-weight: 400;
  color: var(--main-color-3);
  font-size: 10px;
}


main .company-stats .stats-data>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /*  يعني اعمل جااب بين الابناء */
}